<footer class="footer-07 bg-navy">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h2 class="footer-heading"><a href="#" class="logo">COMFATEX</a></h2>
        <p class="menu">
          <a [routerLink]="['/ingreso']">Ingresar</a>
          <a [routerLink]="['/ingreso']">Crear cuenta</a>
          <a [routerLink]="['/page']">Inicio</a>
          <a [routerLink]="['/page/tienda']">Tienda</a>
          <a [routerLink]="['/page/contacto']">Contacto</a>
        </p>
        <ul class="ftco-footer-social p-0">
          <li>
            <img src="assets/imgs/logo.png" alt="" />
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <p class="copyright">
          Copyright &copy; 2022 All rights reserved | Desarrollada por: Pablo
          Ceballos, Sebastian Peralta para:
          <i class="ion-ios-heart" aria-hidden="true"></i>
          <a href="https://ucompensar.edu.co" target="_blank"
            >ucompensar.edu.co</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
