<main>
    <section class="Form mx-auto">
        <div class="container">
            <div class="row">
                    <img src="https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_960_720.jpg"
                     class="img-fluid col-lg-6 p-2" alt="">

                <div class="col-lg-6 py-4">
                    <h1 class="font-weigth-bold py-3 col-lg-6 ">Inicio de sesión</h1>
                    <br>
                    <form action="#" method="get">
                        <div class="form-row">
                            <div class="col-lg-7 p-2">
                                <input type="text" class="form-control" placeholder="Usuario">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7 p-2">
                                <input type="password" class="form-control" placeholder="********">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7 p-2">
                                <button type="button" class="btn1 mt-3" (click)="loadSession()">Ingresar</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7 ">
                            <p>¿No tiene una cuenta? <a [routerLink]="['/ingreso/registro']">Registrese aqui</a></p>
                            <a [routerLink]="['/ingreso/recuperar']">¿Olvido su contraseña?</a>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7 ">
                                <button type="button" class="btn1 mt-3"> <a [routerLink]="['/page']">Volver</a></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
  </main>
