<main>
    <section class="Form my-4 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-6 col-sm-12">
                    <img src="https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_960_720.jpg"
                        class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 py-4">
                    <h1 class="font-weigth-bold py-3 col-lg-6 ">Inicio de sesión</h1>
                    <br>
                    <form>
                        <div class="form-row">
                            <div class="col-lg-7 p-2">
                                <input type="text" class="form-control" placeholder="Usuario">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7 p-2">
                                <input type="password" class="form-control" placeholder="********">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7 p-2">
                                <button type="button" class="btn1 mt-3">Ingresar</button>
                            </div>
                            <br>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7 ">
                            <p>¿No tiene una cuenta? <a href="#">Registrese aqui</a></p>
                            <a href="#">¿Olvido su contraseña?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
  </main>
