*{
    padding: 2;
    margin: 0 auto;
    box-sizing: border-box;
}

main{
    background-color: #270082;
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
}

.row{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

img{
    border-radius: 30px;

}

.btn1{
    border: none;
    outline: none;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover{
    background-color: white;
    border: 1px solid;
    color: black;
}
