<div class="bg-silver">
  <app-nav
    [active]="'Tienda'"
    class="animate__animated animate__slideInDown"
  ></app-nav>
  <div
    id="carouselExampleIndicators"
    class="carousel slide animate__animated animate__slideInRight"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <!-- ngfor loop using get dynamic value and ngclass for add acive class -->
      <div
        class="carousel-item"
        *ngFor="let result of data; let i = index"
        [ngClass]="{ active: i === 0 }"
        data-bs-interval="3000"
      >
        <img
          class="img-max-vw"
          src="{{ result.img }}"
          title="{{ result.title }}"
        />
      </div>
    </div>
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <main
    class="container bg-white p-5 mt-3 rounded-3 animate__animated animate__slideInUp"
  >
    <h1>Bienvenidos a Comfatex</h1>
    <!-- Header-->
    <header class="bg-navy py-1">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder text-white">Tienda con estilo</h1>
          <p class="lead fw-normal text-white-50 mb-0">
            Encuentra lo mejor en fajas deportivas
          </p>
        </div>
      </div>
    </header>
    <!-- Section-->
    <section class="py-5">
      <div class="container-fluid mx-auto">
        <div class="row justify-content-between px-3">
          <div class="col-md-3 col-sm-6" *ngFor="let item of products">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" [src]="item.img" alt="...">
                        <img class="pic-2" [src]="item.img" alt="...">
                    </a>
                    <span class="product-discount-label" *ngIf="item.sale">-{{item.discount}}%</span>
                </div>
                <div class="product-content">
                    <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                    </ul>
                    <h3 class="title"><a href="#">{{item.name}}</a></h3>
                    <div class="price"><span *ngIf="item.sale">${{item.price}}</span>
                      ${{item.sale ? (item.price - ((item.price*item.discount)/100)) : item.price }}
                    </div>
                    <div class="product-button-group">
                        <a class="product-like-icon" href="#"><i class="fa fa-heart"></i></a>
                        <a class="add-to-cart" href="#"><i class="fa fa-shopping-bag"></i>ADD TO CART</a>
                        <a class="product-compare-icon" href="#"><i class="fa fa-random"></i></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
</div>
