<div class="bg-silver">
  <app-nav [active]="'Tienda'" class="animate__animated animate__slideInDown"></app-nav>
  <div id="carouselExampleIndicators" class="carousel slide animate__animated animate__slideInRight" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- ngfor loop using get dynamic value and ngclass for add acive class -->
      <div class="carousel-item" *ngFor="let result of data; let i = index" [ngClass]="{'active': i === 0}" data-bs-interval="3000">
       <img class="img-max-vw" src={{result.img}} title={{result.title}} />
      </div>
    </div>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <main class="container bg-white p-5 mt-3 rounded-3 animate__animated animate__slideInUp">
    <h1>Bienvenidos a Comfatex</h1>
    <!-- Header-->
    <header class="bg-navy py-1">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder text-white">Tienda con estilo</h1>
          <p class="lead fw-normal text-white-50 mb-0">
            Encuentra lo mejor en fajas deportivas
          </p>
        </div>
      </div>
    </header>
    <!-- Section-->
    <section class="py-5">
      <div class="container px-4 px-lg-1 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col mb-5" *ngFor="let item of products">
            <div class="card">
              <!-- Promo badge-->
              <div class="badge bg-dark text-white position-absolute" *ngIf="item.sale" style="top: 0.5rem; right: 0.5rem">
                Promo {{item.discount}}%
              </div>
              <!-- Product image-->
              <img class="card-img-top img-max" [src]="item.img" alt="..." />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">{{item.name}}</h5>
                  <!-- Product reviews-->
                  <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                  </div>
                  <!-- Product price-->
                  <span class="text-muted text-decoration-line-through" *ngIf="item.sale">${{item.price}}</span>
                  ${{item.sale ? (item.price - ((item.price*item.discount)/100)) : item.price }}
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto">añadir <em class="fa fa-cart-plus hover-white"></em>  </a>
                  <a class="btn btn-outline-dark mt-auto mx-2" [routerLink]="['/page/detalle', item.id]">ver más <em class="fa fa-info-circle hover-white"></em> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
</div>
