<main>
    <section class="Form mx-auto">
        <div class="container">
            <div class="row">
                    <img src="https://cdn.pixabay.com/photo/2013/04/04/12/34/mountains-100367_960_720.jpg"
                     class="img-fluid col-lg-6 p-2" alt="">

                <div class="col-lg-6 py-4">
                    <h1 class="font-weigth-bold py-3 col-lg-6 ">Registro  usuario</h1>
                    <form action="#" method="get">
                        <div class="form-row">
                            <div class="col-lg-7 p-2">
                                <input type="text" class="form-control" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7 p-2">
                                <input type="text" class="form-control" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7 p-2">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7 p-2">
                                <input type="password" class="form-control" placeholder="Contraseña">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7 p-2">
                                <input type="password" class="form-control" placeholder="Confirma contraseña">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7 p-2">
                                <button type="button" class="btn1 mt-3">Enviar</button>
                                <br>
                                <br>
                                <p>¿Ya tiene una cuenta? <a [routerLink]="['/ingreso']">Ingrese aqui</a></p>
                            </div>
                        </div>
                        <div class="form-row">
                            
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7 ">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
  </main>
